@{
    ViewBag.Title = "Home Page";
}

<h1></h1>
<a type="button" href="~/Inventory/Index" class="btn btn-primary btn-lg btn-block">POS</a>
<a type="button" href="~/Inventory/Index" class="btn btn-secondary btn-lg btn-block">Inventory</a>
